/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.container-centered {
  position: absolute;
  top: 30%;
  left: 50%;
  -moz-transform: translateX(-50%) translateY(-30%);
  -webkit-transform: translateX(-50%) translateY(-30%);
  transform: translateX(-50%) translateY(-30%);
}

input {
  border-radius: 5px;
  padding: 5px 10px;
}

.card { 
  !important;
  border-color: #bedfea; 
  background-color: #bedfea; 
  border-radius: 5px;
}

.selectBox {
  border-radius:10px;
  border:1px solid;
  height: 40px;
  padding: 5px 10px;
  font-size: 14px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
}

.gridItem {
  padding-top: 10px;
  margin: 10px;
}

.playlist {
  border: 2px solid black;
  border-radius: 5px;
  padding: 10px;
  grid-column: mid-col-start / head-col-end;
  grid-row: head-row-end / mid-row-end;
}

.playlist ul {
  overflow:hidden;
  overflow-y:scroll;
  list-style-type: none;
  height: 78%;
  padding: 0;
}

.playlist ul li {
  padding: 5px 0;
  border-radius: 5px;
}

.room {
  display: grid;
  grid-gap: 15px;
  width: 100%;
  grid-template-columns: [head-col-start] 600px [mid-col-start] 350px [head-col-end];
  grid-template-rows: [head-row-start] auto [head-row-end] auto [mid-row-end] auto [footer-row-end];
}

.contentSearchLine {
  grid-column: head-col-start / head-col-end;
  grid-row: head-row-start / head-row-end;
}

.content {
  grid-column: head-col-start / mid-col-start;
  grid-row: head-row-end / mid-row-end;
}

.contentSearchResults {
  grid-column: head-col-start / head-col-end;
  grid-row: content-row-end / footer-row-end;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}
