@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-5">Welcome to Mediverse</h1>
    @Html.ActionLink("Sign In", "SignIn", "Authentication")
    or 
    @Html.ActionLink("Sign Up", "SignUp", "Authentication")
    or simply
    @Html.ActionLink("CreateRoom", "SignUp", "Authentication")
</div>