@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-5">Welcome to Mediaverse</h1>
    @Html.ActionLink("Sign In", "SignIn", "Authentication")
    or 
    @Html.ActionLink("Sign Up", "SignUp", "Authentication")
    or simply
    <input type="button" value="Stay Anonymous" onclick="createAnonymousRoom()" />
</div>

<script type="text/javascript">
    const createAnonymousRoom = function() {
        $.ajax({
            type: "POST",
            url: '@Url.Action("SignUpAnonymous", "Authentication")',
            success: function(res) {
                window.location.href = res.redirectToUrl;
            }
        });
    };
</script>