@model Mediaverse.Application.ContentSearch.Queries.GetRelevantContent.Dtos.SearchResultDto

<div class="search-result-text">
    @if (Model.Previews != null && Model.Previews.Any())
    {
        <h1 class="display-4">Here what we have found:</h1>
    }
    else if (Model.Previews != null)
    {
        <h1 class="display-4">We could not find content for your request</h1>
    }
</div>
<div id="search-results" class="search-results grid">
    @if (Model.Previews != null && Model.Previews.Any())
    {
        
        foreach (var preview in Model.Previews)
        {
            @Html.Partial("Preview", preview)
        }
    }
</div>

<script type="text/javascript">
    function playSpecificContent(externalContentId, contentSource, contentType) {
        let contentId = {
            ExternalId: externalContentId,
            ContentSource: contentSource,
            contentType: contentType
        }
        
        let command = {
            ContentId: contentId,
            RoomId: $('#RoomId').val()
        }
        
        $.ajax({
            type: "POST",
            url: '@Url.Action("PlaySpecificContent", "ContentConsumption")',
            data: command,
            error: function(xhr, ajaxOptions, thrownError) {
                const error = JSON.parse(xhr.responseText);
                showModal("Operation attempt failed", error.message)
            }
        });
    }
</script>