@model Mediaverse.Application.JointContentConsumption.Commands.SwitchContent.Dtos.ContentDto

<div id="contentPlayer">
    <div class="content-player" style="height: 400px">
        @if (Model.Player != null)
        {
            <div id="iframeContainer"></div>
        }
        else
        {
            <img width="100%" height="100%" src="/Resources/Images/NoContentToPlayImage.png" style="border-radius: 5px"/>
        }
    </div>

    <div class="content-name">
        @if (Model.Player != null)
        {
            <h2>Currently playing: @Model.Title</h2>
        }
    </div>
    
    @if (Model.Player != null)
    {
        <script type="text/javascript">   
            var player;            
            function createPlayer() {
                window.YT.ready(function() {
                    player = new YT.Player('iframeContainer', {
                        width: '100%',
                        height: '100%',
                        videoId: '@Model.Id.ExternalId',
                        events: {
                          'onStateChange': onPlayerStateChange,
                          'onReady': onPlayerReady
                        }
                    });
                })   
            }
    
            $(document).ready(function() {
              $.getScript("https://www.youtube.com/iframe_api", function() {
                createPlayer();
              });
            });
            
            function onPlayerStateChange(event) {
                // video is playing
                if (event.data === YT.PlayerState.PLAYING) {
                    onContentPlaybackStarted(player.getCurrentTime());
                }
                // video is paused
                else if (event.data === YT.PlayerState.PAUSED) {
                    onContentPlaybackPaused(player.getCurrentTime());
                }
            }  
            
            function onPlayerReady(event) {
                player.seekTo(@Model.Player.PlayingTime, true)
                if ('@Model.Player.State' === "Playing") {
                    startPlayback();
                }
            }    
            
            function startPlayback() {
                if (player.state !== YT.PlayerState.PLAYING){
                    player.playVideo();
                }
            }
            
            function pausePlayback() {
                if (player.state !== YT.PlayerState.PAUSED){
                    player.pauseVideo();
                }
            }
        </script>
    }
</div>