@model Mediaverse.Application.JointContentConsumption.Commands.SwitchContent.Dtos.ContentDto

<div class="content">
    @Html.Raw(Model.Player.Html)
    <div><input type="button" value="Play" /></div>
</div>