@using Mediaverse.Domain.ContentSearch.Enums
@model Mediaverse.Application.ContentSearch.Queries.GetRelevantContent.GetRelevantContentQuery;

<div class="search-line" id="searchLine">
    <div style="display: inline-block; padding-right: 20px">
        @Html.DropDownListFor(x => x.SelectedSource, new SelectList(Enum.GetNames(typeof(MediaContentSource))), new {@class = "selectBox"})
    </div>
    <div style="display: inline-block; ">
        @Html.TextBoxFor(x => x.QueryString, new {type = "search", size = "74%", height = "50px", placeholder = "What are you looking for?"})
    </div>
    <div style="display: inline-block; padding-left: 20px; width: 21%">
        <input type="button" value="Search" onclick="search()" style="width: 100%; height: 40px;"/>
    </div>
</div>

<script type="text/javascript">
    const search = function() {  
        $.ajax({
            type: "GET",
            url: '@Url.Action("SearchForContent", "ContentSearch")?source='
                                                + $('#SelectedSource').val() + '&queryString=' + $('#QueryString').val(),
            success: function(res) {
                $('#search-results').replaceWith(res);
            },
            error: function(xhr, ajaxOptions, thrownError) {
                alert(xhr.message);
            }
        });
    };
</script>