@model Mediaverse.Application.JointContentConsumption.Commands.SwitchContent.Dtos.ContentDto

<div id="contentPlayer">
    <div class="content-player" style="height: 400px">
        @if (Model != null)
        {
            <div id="iframeContainer"></div>
        }
        else
        {
            <img width="100%" height="100%" src="/Resources/Images/NoContentToPlayImage.png" style="border-radius: 5px"/>
        }
    </div>

    <div class="content-name">
        @if (Model != null)
        {
            <h2>Currently playing: @Model.Title</h2>
        }
    </div>
    
    @if (Model != null)
    {
@*         <script src="https://www.youtube.com/iframe_api"></script> *@

        <script type="text/javascript">   
            var player;
        
            $(document).ready(function(){                      
                var tag = document.createElement('script');
                tag.src = "https://www.youtube.com/iframe_api";
                var firstScriptTag = document.getElementsByTagName('script')[0];
                firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
                
                createPlayer();
            });
    
            window.onYouTubeIframeAPIReady = function(){
                if (player == null){
                    createPlayer();
                }
            }
            
            function createPlayer() {
                window.YT.ready(function() {
                        player = new YT.Player('iframeContainer', {
                          width: '100%',
                          height: '100%',
                          videoId: '@Model.Id.ExternalId',
                          events: {
                            'onReady': onPlayerReady
                          }
                    });             
                })
            }
            
            function onPlayerReady(event) {              
                event.target.playVideo();
            }
        </script>
    }
</div>