@model Mediaverse.Application.JointContentConsumption.Commands.SwitchContent.Dtos.ContentDto

<div class="content">
    @Html.Raw(Model.Player.Html)
    <div><input type="button" value="Play" /></div>
</div>

<script type="text/javascript">
    const search = function() {
        $.ajax({
            type: "GET",
            url: '@Url.Action("SearchForContent", "ContentSearch")',
            data: $('#searchLine').serialize(),
            success: function(res) {

            },
            error: function(xhr, ajaxOptions, thrownError) {
                alert(xhr.message);
            }
        })
    }
</script>