@model Mediaverse.Application.JointContentConsumption.Commands.SwitchContent.Dtos.ContentDto

<div id="contentPlayer" class="content">
    @if (Model.Player != null)
    {
        @Html.Raw(Model.Player.Html)
    }
</div>