@model Guid;
@{
    ViewData["Title"] = "Hall";
}

<div class="text-center">
    <h1 class="display-5">Hall</h1>
    @Html.Hidden("GuestId", Model)
    @Html.ActionLink(
        "Create a Room",
        "CreateRoom",
        "ContentConsumption",
        new {viewerId = Model})
</div>