@model Mediaverse.Application.JointContentConsumption.Common.Dtos.PlaylistItemDto;

@{
    string Truncate(string text)
    {
        const int size = 30;
        return text.Length > size
            ? text.Substring(0, size) + "..."
            : text;
    }
}

<div style="width: 300px; padding: 5px">
    <div><strong>@Truncate(Model.Title)</strong></div>
    <div>@Truncate(Model.Description)</div>
</div>