@model Mediaverse.Application.JointContentConsumption.Common.Dtos.PlaylistItemDto;

<div style="width: 300px">
    <img src="@Model.Thumbnail.Url" alt=""/>
    @Html.LabelFor(x => x.Title)
    @Html.LabelFor(x => x.Description)
</div>